
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  height: 100px;
  padding: 2rem;
  text-align: center;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

.header {
  text-align: center;
  color:rgb(55, 79, 67);
}

button {
  background-color: #147846; /* Set your desired button color */
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  width: 150px;
  display:inline;
  text-align: center;
}

button.selected {
  outline: 4px solid black; /* Set your desired outline color */
}

.buttoncontainer {
  text-align: center;
  border: 10px solid rgb(6, 6, 6);
  padding-top: 40px;
  padding-bottom: 40px;
}
.scorecontainer {
  text-align: center;
  border: 10px solid rgb(9, 9, 9);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: medium;
}